@import "tailwindcss";

:root {
  --font-neue-grotesk: var(--font-neue-grotesk);
}

@theme inline {
}

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: var(--font-neue-grotesk), sans-serif;
}

.input-box {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.input-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* adjust spacing from text */
  width: 0;
  height: 2px; /* thickness of underline */
  background: white; /* underline color */
  transition: width 0.3s ease; /* animation speed */
}

.input-box:hover::after {
  width: 100%;
}
